@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.trailerSection {
	&__player {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		&--goBack {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			color: $color50;
			background-color: $color400;
			cursor: pointer;
		}
		&--goForward {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			color: $color50;
			background-color: $color400;
			cursor: pointer;
		}
	}
}

iframe {
	border: none;
	width: 1280px;
	height: 720px;
}
@include media("<=phone") {
	iframe {
		width: fit-content;
		height: fit-content;
		aspect-ratio: 16/9;
	}
}
