@use "./scss/abstract/colors" as *;

body {
	height: 100%;
}
#root {
	width: 100%;
	height: 100%;
	background-color: $color900;
}
.container {
	width: 100%;
	height: 100%;
	background-color: $color900;
}
