@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.addImage {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	top: 0;
	z-index: 6;
	background-color: hsla(200, 69%, 5%, 0.9);
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $color50;
		width: 30%;
		height: 45%;
	}
	&__cropper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	&__cropperContent {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		width: 30%;
		height: 80%;
		background-color: #202225;
		/* 		padding: 20px 0 0 0; */
		border-radius: 15px;
		&-image {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 100%;
			height: 72%;
			overflow: hidden;
			margin: 0 20px;
			background-color: #202225;
			border-radius: 4px;
		}
		&-buttons {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 2rem;
			width: 90%;
			height: 10%;
		}
		&--cancel {
			background-color: transparent;
			color: red;
			border: none;
			outline: none;
			font-weight: 700;
			cursor: pointer;
		}
		&--submit {
			padding: 10px;
			color: $color50;
			background-color: $color500;
			border: none;
			cursor: pointer;
		}
	}
}
