$color50: hsl(197, 69%, 95%);
$color100: hsl(199, 73%, 90%);
$color200: hsl(199, 71%, 80%);
$color300: hsl(199, 71%, 70%);
$color400: hsl(199, 71%, 60%);
$color500: hsl(199, 71%, 50%);
$color600: hsl(199, 71%, 40%);
$color700: hsl(199, 71%, 30%);
$color800: hsl(199, 71%, 20%);
$color900: hsl(199, 73%, 10%);
$color950: hsl(200, 69%, 5%);
