@use "../../scss/abstract/colors" as *;

.customCheckbox {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 20px;
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

.checkSpan {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $color50;
	transition: 0.3s;
	border-radius: 30px;
	&::before {
		position: absolute;
		content: "";
		height: 14px;
		width: 14px;
		left: 3px;
		bottom: 2.6px;
		background-color: $color800;
		border-radius: 50%;
		transition: 0.3s;
	}
}
input:checked + .checkSpan + .yearly {
	background-color: $color100;
}
input:checked + .checkSpan:before {
	transform: translateX(23px);
}
