@use "../../../scss/abstract/colors" as *;

.cardsMenuSceleton {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 70vh;
	width: 95%;
	gap: 10px;
	&__cardWrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 35vh;
		border-radius: 30px;
		z-index: 1;
		position: relative;
	}
	&__card {
		display: block;
		width: 256px;
		height: 384px;
		border-radius: 20px;
		background-color: $color50;
		animation: sceleton 1s ease infinite alternate;
		border-radius: 20px;
	}
}
@keyframes sceleton {
	0% {
		background-color: $color200;
	}
	100% {
		background-color: $color800;
	}
}
