@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.galleryFullScreen {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: hsla(200, 69%, 5%, 0.96);
	z-index: 5;
	top: 0;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;
	}
	&__image--active {
		width: 1200px;
	}
	&--closeBtn {
		position: absolute;
		top: 1%;
		right: 2%;
		color: $color50;
		cursor: pointer;
	}
}

@include media("<=phone") {
	.galleryFullScreen {
		&__image--active {
			width: 333px;
		}
	}
}
