@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;
.thumbnail {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	&.active {
		border: 5px solid $color100;
		border-radius: 5px;
	}
}
@include media("<=phone") {
	.thumbnail {
		&__images {
			width: 120px;
		}
		&.active {
			border: 5px solid $color100;
			border-radius: 5px;
		}
	}
}
