@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 5rem;
	width: 100%;
	height: 20vh;
	background-color: $color800;
	margin-top: 10rem;
	&__middle {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&--firstParagraph {
			color: $color50;
			font-weight: 700;
		}
		&--secondParagraph {
			color: $color50;
			font-size: 13px;
			font-style: normal;
			font-weight: 300;
		}
	}
	&__socials {
		display: flex;
		align-items: center;
		justify-content: center;
		&_wrapper {
			display: flex;
			gap: 1rem;
		}
		&--moviedb {
			width: 35px;
			height: 35px;
		}
		&--logoMovie {
			width: 35px;
			height: 45px;
		}
		&--link {
			display: flex;
			align-items: center;
			justify-content: center;
			background-image: linear-gradient(
				rgba(145, 207, 162, 1),
				rgba(59, 189, 201, 1),
				rgba(0, 180, 229, 1)
			);
			color: $color800;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			&:last-child {
				background-image: $color800;
			}
		}
	}
}
@include media("<=phone") {
	.footer {
		gap: 1rem;
		&__nav {
			width: 85%;
			img {
				width: 70px;
			}
		}
		&__middle {
			text-align: center;
			&--firstParagraph {
				font-size: 10px;
			}
			&--secondParagraph {
				font-size: 8px;
			}
		}
		&__socials {
			flex-direction: column;
			&--image {
				width: 20px;
			}
			&--link {
				width: 35px;
				height: 35px;
			}
			&--logoMovie {
				width: 30px;
			}
			&--linkMovie {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
@include media(">=phone", "<=tablet") {
	.footer {
		gap: 1rem;
		&__nav {
			width: 85%;
		}
		&__middle {
			text-align: center;
			&--firstParagraph {
				font-size: 10px;
			}
			&--secondParagraph {
				font-size: 8px;
			}
		}
		&__socials {
			flex-direction: column;
			&--image {
				width: 20px;
			}
			&--link {
				width: 35px;
				height: 35px;
			}
			&--logoMovie {
				width: 30px;
			}
			&--linkMovie {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
