@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;
.searchWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 80%;
	input {
		width: 50%;
		height: 4vh;
		background-color: $color800;
		border: 1px solid $color500;
		border-radius: 20px;
		outline: none;
		color: $color50;
		padding-left: 2rem;
		&::placeholder {
			color: $color50;
		}
	}
}
@include media("<=phone") {
	.searchWrapper {
		width: 100%;
		justify-content: center;
		input {
			width: 75%;
			font-size: 10px;
			padding-left: 1rem;
		}
	}
}
