@use "../../../scss/abstract/colors" as *;
@use "../../../scss/base/brakepoints" as *;

.sceleton {
	&__topContent {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 75%;
		height: 80%;
		background-color: hsla(200, 69%, 5%, 0.9);
		border-radius: 30px;
		z-index: 1;
		position: relative;
	}
	&__posterImage {
		width: 25%;
		height: 85%;
		margin-left: 5rem;
		background-color: $color50;
		animation: sceleton 1s ease infinite alternate;
		border-radius: 20px;
	}
	&__rightMovieContent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2rem;
		width: 50%;
		height: 100%;
	}
	&__menuClicked {
		display: block;
		width: 30%;
		height: 3%;
		border-radius: 5px;
		margin-left: 5rem;
		background-color: $color50;
		animation: sceleton 1s ease infinite alternate;
	}
	&__titleClicked {
		display: block;
		width: 45%;
		height: 7%;
		border-radius: 5px;
		margin-left: 5rem;
		background-color: $color50;
		animation: sceleton 1s ease infinite alternate;
	}
	&__overviewClicked {
		display: block;
		width: 464px;
		height: 30%;
		border-radius: 5px;
		margin-left: 5rem;
		background-color: $color50;
		animation: sceleton 1s ease infinite alternate;
	}
	&__directorClicked {
		display: block;
		width: 15%;
		height: 7%;
		border-radius: 5px;
		margin-left: 5rem;
		background-color: $color50;
		animation: sceleton 1s ease infinite alternate;
	}
}
@include media("<=phone") {
	.sceleton {
		&__topContent {
			width: 95%;
		}
		&__posterImage {
			width: 35%;
			margin-left: 2rem;
		}
		&__rightMovieContent {
			width: 75%;
			gap: 1rem;
			margin-left: -4rem;
		}
		&__overviewClicked {
			width: 165px;
		}
	}
}

@keyframes sceleton {
	0% {
		background-color: $color200;
	}
	100% {
		background-color: $color800;
	}
}
