@use "../../scss/abstract/colors" as *;
.review {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 95%;
	min-height: 50vh;
	height: auto;
	gap: 2rem;
	border-radius: 15px;
	background-color: #041016a1;
	&.active {
		justify-content: center;
	}
	&__leftSide {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
	&__rightSide {
		display: none;
	}
	&__card {
		position: relative;
		width: 85%;
		height: 50%;
		padding: 2rem 2rem;
		border: 1px solid rgba(81, 179, 255, 0.1);
		margin-top: 2rem;
		&--active {
			position: relative;
			width: 85%;
			height: 50%;
			padding: 2rem 2rem;
			border: 1px solid rgba(81, 179, 255, 0.1);
			margin-top: 2rem;
			.review__edit {
				display: flex;
			}
		}
		&:hover {
			.review__rightSide {
				display: block;
				cursor: pointer;
				color: $color50;
			}
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1em;
		&--avatar {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 49px;
			height: 49px;
			background-color: $color50;
			border-radius: 50%;
			img {
				width: 2.5em;
			}
		}
		&--username {
			color: $color100;
			font-weight: 700;
			text-decoration: none;
			font-size: 16px;
		}
		.date {
			font-weight: 400;
			font-size: 10px;
			color: $color100;
		}
	}
	&__reviewcontent {
		width: 100%;
		color: $color50;
		padding: 1rem 0 0 4rem;
	}
	&__addReview {
		width: 85%;
		height: 50%;
	}
	&__edit {
		position: absolute;
		top: 25%;
		right: 0;
		display: none;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1rem;
		width: 8%;
		height: 15vh;
		background-color: $color50;
	}
	&__form {
		textarea {
			resize: none;
			width: 100%;
			height: 10vh;
			background-color: #041016a1;
			border: 1px solid rgba(81, 179, 255, 0.1);
			margin-top: 1rem;
			padding: 1rem;
			color: $color50;
			border-radius: 10px;
			&:focus {
				border: 3px solid rgba(81, 179, 255, 0.1);
				outline: none;
			}
		}
	}
	&__button {
		background-color: $color400;
		color: $color50;
		font-weight: 700;
		border: none;
		outline: none;
		width: 92px;
		height: 35px;
		margin-top: 1rem;
		border-radius: 10px;
		cursor: pointer;
	}
	&__loginToAdd {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 10vh;
		margin-bottom: -5rem;
		color: $color50;
		a {
			color: $color500;
		}
	}
}
