@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.clickedMovie {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 70vh;
	&__topContent {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 75%;
		height: 80%;
		background-color: hsla(200, 69%, 5%, 0.9);
		border-radius: 30px;
		z-index: 1;
		position: relative;
	}
	&__posterImage {
		width: 30%;
		margin-left: 5rem;
		&--image {
			width: 70%;
			border-radius: 20px;
		}
		&--empty {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 300px;
			height: 450px;
			border-radius: 20px;
			background-image: linear-gradient(
				0deg,
				rgba(233, 246, 251, 0.3),
				rgba(39, 161, 218, 0.9)
			);
		}
		&--emptyImg {
			width: 500px;
			height: 200px;
			color: $color800;
		}
	}
	&__rightMovieContent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2rem;
		width: 50%;
		height: 100%;
		&--director {
			p {
				&:first-child {
					color: $color400;
					font-size: 12px;
				}
				&:last-child {
					color: $color50;
				}
			}
		}
		&--menu {
			display: flex;
			gap: 10px;
			list-style: none;
			color: $color400;
		}
		&--overview {
			color: $color50;
			font-size: 16px;
			width: 70%;
		}
		h1 {
			color: $color50;
			font-size: 51px;
		}
	}
}
.castSlider {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	&__sliderTopContent {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $color50;
		width: 95%;
		height: 15vh;
	}
	&__card_image {
		img {
			width: 100%;
			border-radius: 20px;
		}
	}
	&__toggleBtn {
		display: flex;
		gap: 1rem;
	}
	&__card {
		position: relative;
		width: 25vh;
		border-radius: 20px;
		box-shadow: 4px 8px 10px 1px rgba(39, 161, 218, 0.9);
	}
	&__card_characterInfo {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 20%;
		background-color: #d3ecf852;
		color: black;
		position: absolute;
		bottom: 5%;
		p {
			font-weight: 700;
		}
		span {
			font-size: 10px;
		}
	}
	&__menu {
		display: flex;
		gap: 3rem;
		list-style: none;
		margin-bottom: 2rem;
	}
	&__menu--fullCast {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-items: center;
		align-items: center;
		width: 75%;
		gap: 3rem;
		list-style: none;
	}
	&__slider {
		display: flex;
		overflow-x: scroll;
		width: 95%;
		&::-webkit-scrollbar {
			width: 16px;
			height: 8px;
		}
		&::-webkit-scrollbar-thumb {
			background: $color500;
			border-radius: 10px;
			cursor: pointer;
		}
	}
	&__slider--full {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 95%;
	}
}
.trailerSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	&__topContent {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $color50;
		width: 95%;
		height: 15vh;
		margin-top: 2rem;
	}
	&__playerContent {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}
.backdropsSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	&__topContent {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $color50;
		width: 95%;
		height: 15vh;
		margin-top: 2rem;
	}
}
.gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	&__mainImg {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	&__image--active {
		width: 55%;
	}
	&__thumbnails {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow-x: hidden;
		width: 100%;
	}
	&__wrapperThumbnails {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		overflow-x: scroll;
		width: 40%;
		height: 25vh;
		gap: 1rem;

		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
.reviewSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	&__topContent {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $color50;
		width: 95%;
		height: 15vh;
		margin-top: 2rem;
	}
}
.smilarMovies {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	&__topContent {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $color50;
		width: 95%;
		height: 15vh;
		margin-top: 2rem;
	}
	&__menu {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		gap: 3rem;
		list-style: none;
	}
}

@include media("<=phone") {
	.clickedMovie {
		height: 40vh;
		&__topContent {
			width: 95%;
			height: 75%;
		}
		&__posterImage {
			width: 30%;
			margin-left: 1rem;
			&--image {
				width: 100%;
			}
		}
		&__rightMovieContent {
			width: 60%;
			gap: 4px;
			margin-left: 1rem;
			&--overview {
				width: 100%;
				font-size: 7px;
			}
			&--menu {
				font-size: 9px;
			}
			&--director {
				font-size: 10px;
			}
			h1 {
				font-size: 13px;
			}
		}
	}
	.castSlider {
		&__menu {
			gap: 1rem;
			&--fullCast {
				grid-template-columns: repeat(3, 1fr);
				gap: 1rem;
			}
		}
		&__card {
			width: 15vh;
			box-shadow: 2px 2px 11px -1px rgba(39, 161, 218, 0.32);
			&_characterInfo {
				p {
					font-size: 10px;
				}
			}
		}
		&__slider {
			&--full {
				justify-content: flex-start;
				width: 85%;
			}
		}
	}
	.trailerSection {
		&__player {
			gap: 0rem;
			&--goBack {
				background-color: rgba(39, 161, 218, 0);
			}
			&--goForward {
				background-color: rgba(39, 161, 218, 0);
			}
		}
	}
	.gallery {
		&__wrapperThumbnails {
			width: 100%;
			height: 15vh;
			gap: 1rem;
		}
		&__image {
			&--active {
				width: 85%;
			}
		}
	}
	.smilarMovies {
		&__menu {
			flex-wrap: wrap;
		}
		flex-wrap: wrap;
	}
}
@include media(">=481px", "<=tablet") {
	.clickedMovie {
		height: 40vh;
		&__topContent {
			width: 95%;
			height: 80%;
		}
		&__posterImage {
			width: 30%;
			margin-left: 1rem;
			&--image {
				width: 155px;
			}
		}
		&__rightMovieContent {
			width: 60%;
			gap: 4px;
			margin-left: 1rem;
			&--overview {
				width: 100%;
				font-size: 10px;
			}
			&--menu {
				font-size: 10px;
			}
			&--director {
				font-size: 10px;
			}
			h1 {
				font-size: 30px;
			}
		}
	}
	.castSlider {
		&__menu {
			gap: 1rem;
			&--fullCast {
				grid-template-columns: repeat(3, 1fr);
				gap: 1rem;
			}
		}
		&__card {
			width: 15vh;
			box-shadow: 2px 2px 11px -1px rgba(39, 161, 218, 0.32);
			&_characterInfo {
				p {
					font-size: 10px;
				}
			}
		}
		&__slider {
			&--full {
				justify-content: flex-start;
				width: 85%;
			}
		}
	}
	.trailerSection {
		&__player {
			gap: 0rem;
			&--goBack {
				background-color: none;
			}
			&--goForward {
				background-color: none;
				width: 25px;
			}
		}
	}
	.gallery {
		&__wrapperThumbnails {
			width: 100%;
			height: 15vh;
			gap: 1rem;
		}
		&__image {
			&--active {
				width: 85%;
			}
		}
	}
	.smilarMovies {
		&__menu {
			flex-wrap: wrap;
		}
		flex-wrap: wrap;
	}
}
@include media(">=769px", "<=desktop") {
	.clickedMovie {
		height: 55vh;
		&__topContent {
			width: 95%;
			height: 90%;
		}
		&__posterImage {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30%;
			margin-left: 1rem;
			&--image {
				width: 220px;
			}
		}
		&__rightMovieContent {
			width: 50%;
			gap: 4px;
			margin-left: 2rem;
			&--overview {
				width: 100%;
				font-size: 10px;
			}
			&--menu {
				font-size: 10px;
			}
			&--director {
				font-size: 10px;
			}
			h1 {
				font-size: 30px;
			}
		}
	}
	.castSlider {
		&__menu {
			gap: 1rem;
			&--fullCast {
				grid-template-columns: repeat(3, 1fr);
				gap: 1rem;
			}
		}
		&__card {
			width: 15vh;
			box-shadow: 2px 2px 11px -1px rgba(39, 161, 218, 0.32);
			&_characterInfo {
				p {
					font-size: 10px;
				}
			}
		}
		&__slider {
			&--full {
				justify-content: flex-start;
				width: 85%;
			}
		}
	}
	.trailerSection {
		&__player {
			gap: 0rem;
			&--goBack {
				background-color: none;
			}
			&--goForward {
				background-color: none;
				width: 25px;
			}
		}
	}
	.gallery {
		&__wrapperThumbnails {
			width: 100%;
			height: 15vh;
			gap: 1rem;
		}
		&__image {
			&--active {
				width: 85%;
			}
		}
	}
	.smilarMovies {
		&__menu {
			flex-wrap: wrap;
		}
		flex-wrap: wrap;
	}
}
