@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.mainContent {
	width: 100%;
	height: 100%;
	&__topWrapper {
		display: flex;
		align-items: center;
	}
	&__leftWrapp {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 60%;
		height: 90vh;
	}
	&__rightWrapp {
		width: 40%;
		height: 90vh;
	}
	&__imageBackground {
		position: relative;
		width: 95%;
		height: 80%;
		border-radius: 58px;
		filter: blur(9px);
	}
	&__imageMain {
		position: absolute;
		left: 5%;
		top: 25%;
		width: 50%;
		border-radius: 58px;
	}
	&__switchInput {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1rem;
		color: $color50;
		padding: 3rem;
		margin-right: 2rem;
	}
	&__slider {
		display: flex;
		align-items: center;
		overflow: hidden;
	}
	&__movieInfo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 2rem;
		margin-left: 4rem;
		height: 55%;
		.genere {
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			color: $color400;
		}
		.title {
			font-style: normal;
			font-weight: 700;
			font-size: 51px;
			line-height: 62px;
			color: $color50;
		}
		.overview {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: $color50;
			width: 370px;
		}
	}
}
@include media("<=phone") {
	.mainContent {
		&__topWrapper {
			flex-direction: column;
		}
		&__leftWrapp {
			width: 100%;
			height: 40vh;
			justify-content: flex-start;
		}
		&__imageMain {
			width: 90%;
			top: 14%;
			border-radius: 20px;
		}
		&__imageBackground {
			width: 95%;
			height: 100%;
			border-radius: 0px;
			filter: blur(9px);
		}
		&__rightWrapp {
			width: 100%;
			height: 45vh;
		}
		&__switchInput {
			justify-content: center;
			padding: 1rem;
			margin-right: 0;
		}
		&__movieInfo {
			justify-content: flex-start;
			align-items: center;
			gap: 1rem;
			margin-left: 0rem;
			text-align: center;
			height: 56%;
			.title {
				font-size: 20px;
			}
			.overview {
				width: 320px;
			}
		}
	}
}
@include media(">=phone", "<=tablet") {
	.mainContent {
		&__topWrapper {
			flex-direction: column;
		}
		&__leftWrapp {
			position: relative;
			width: 100%;
			height: 55vh;
			justify-content: flex-start;
		}
		&__imageMain {
			width: 90%;
			border-radius: 20px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		&__imageBackground {
			width: 95%;
			height: 100%;
			border-radius: 0px;
			filter: blur(9px);
		}
		&__rightWrapp {
			width: 100%;
			height: 40vh;
		}
		&__switchInput {
			justify-content: center;
			padding: 1rem;
			margin-right: 0;
		}
		&__movieInfo {
			justify-content: flex-start;
			align-items: center;
			gap: 1rem;
			margin-left: 0rem;
			text-align: center;
			height: 56%;
			.title {
				font-size: 35px;
			}
			.overview {
				width: 320px;
			}
		}
	}
}
@include media(">=tablet", "<=desktop") {
	.mainContent {
		&__topWrapper {
			flex-direction: row;
		}
		&__leftWrapp {
			position: relative;
			width: 100%;
			height: 70vh;
			justify-content: center;
		}
		&__imageMain {
			width: 85%;
			border-radius: 20px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		&__imageBackground {
			position: relative;
			width: 95%;
			height: 70%;
			border-radius: 58px;
			filter: blur(9px);
		}
		&__rightWrapp {
			width: 100%;
			height: 40vh;
		}
		&__switchInput {
			justify-content: center;
			padding: 1rem;
			margin-right: 0;
		}
		&__movieInfo {
			justify-content: flex-start;
			align-items: center;
			gap: 1rem;
			margin-left: 0rem;
			text-align: center;
			height: 56%;
			.title {
				font-size: 35px;
			}
			.overview {
				width: 320px;
			}
		}
	}
}
