@use "../../scss/abstract/colors" as *;
@use "../../scss/base/brakepoints" as *;

.header {
	width: 100%;
	height: 10vh;
	z-index: 5;
	transition: transform 150ms ease-in-out;
	&.active {
		height: 10vh;
		position: sticky;
		top: 0;
		transition: transform 150ms ease-in-out;
	}
	&.hidden {
		position: sticky;
		top: 0;
		height: 10vh;
		transition: transform 150ms ease-in-out;
		transform: translateY(-100%);
	}
}
.openMenuMobile {
	display: none;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $color800;
	width: 100%;
	height: 100%;
	a {
		text-decoration: none;
		color: $color50;
	}
	&__logo {
		margin-left: 3rem;
	}
	&__searchBar {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 40%;
		height: 100%;
	}
	&__searchResults {
		display: none;
		position: absolute;
		width: 40%;
		max-height: 25vh;
		padding: 1rem;
		left: 50%;
		top: 90%;
		border-radius: 20px;
		background-color: white;
		overflow-y: scroll;
		z-index: 2;
	}
	&__menu {
		display: flex;
		align-items: center;
		gap: 4rem;
		width: 25%;
		&-dropdownMovie {
			display: none;
			z-index: 2;
			&.active {
				position: absolute;
				display: flex;
				flex-direction: column;
				gap: 10px;
				width: 8%;
				height: 15%;
				top: 70px;
				right: 363px;
				border-radius: 5px;
				padding: 1rem;
				background-color: $color200;
				z-index: 2;
			}
		}
		&-dropdownSeries {
			display: none;
			z-index: 2;
			&.active {
				position: absolute;
				top: 70px;
				right: 235px;
				display: flex;
				flex-direction: column;
				width: 8%;
				height: 13%;
				border-radius: 5px;
				padding: 1rem;
				background-color: $color200;
				z-index: 2;
			}
		}
	}
	&__item {
		font-weight: 600;
		list-style: none;
		&:last-child {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20%;
			height: 4vh;
			background-color: $color500;
			border-radius: 20px;
			z-index: 2;
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
			}
		}
		&-dropdown {
			font-weight: 600;
			list-style: none;
			z-index: 2;
		}
		&-dropdownMovie {
			font-weight: 600;
			list-style: none;
			&:hover {
				.nav__menu-dropdownMovie {
					position: absolute;
					display: flex;
					flex-direction: column;
					gap: 10px;
					width: 8%;
					height: 15%;
					top: 70px;
					right: 363px;
					border-radius: 5px;
					padding: 1rem;
					background-color: $color200;
				}
			}
		}
		&-dropdownSeries {
			font-weight: 600;
			list-style: none;
			&:hover {
				.nav__menu-dropdownSeries {
					position: absolute;
					display: flex;
					flex-direction: column;
					gap: 10px;
					width: 7%;
					height: 13%;
					top: 70px;
					right: 235px;
					border-radius: 5px;
					padding: 1rem;
					background-color: $color200;
				}
			}
		}
	}
	&__dropdownItem {
		display: flex;
		a {
			color: $color950;
			font-weight: 600;
		}
	}
}
.navMobile {
	display: none;
}
@include media("<=phone") {
	.nav {
		justify-content: space-around;
		padding: 1rem;
		&__searchBar {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}
		&__menu {
			display: none;
		}
		&__logo {
			margin-left: 0;
			img {
				width: 100%;
			}
		}
	}
	.navMobile {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		background-color: rgb(4 25 36 / 94%);
		width: 100%;
		height: 100vh;
		z-index: 9999;
		&__top {
			display: flex;
			align-items: center;
			justify-content: space-around;
			background-color: rgb(4 25 36 / 100%);
			width: 100%;
			height: 15%;
		}
		&__menu {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			gap: 2rem;
			width: 100%;
			height: 55%;
			margin-top: 5rem;
			list-style: none;
			&-dropdownSeries {
				list-style: none;
			}
			&-dropdownMovie {
				list-style: none;
			}
		}
		&__item {
			&-dropdownMovie {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 50%;
			}
			&-dropdownSeries {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 50%;
			}
			&-dropDownFirst {
				color: red !important;
				font-size: 20px;
			}
		}
		&__dropdownItem {
			font-size: 14px;
			font-weight: 300;
			margin-left: 0.3rem;
		}
		&__itemSign {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			height: 5vh;
			background-color: $color500;
			border-radius: 20px;
		}
	}
	.openMenuMobile {
		display: block;
	}
}
